/autoconf-*
/automake-*
/sqlite-autoconf-*
/zlib-*
/libtool-*
/gmp-*
/mpfr-*
/mpc-*
/isl-*
/gcc-*
/pkg-config
/boost_*
/openssl
/libevent
/bitcoin-uasf
/bitcoin-core
/electrumx
*.tar.gz
/*_install
/*_download
my_make_output.txt
*.komodoproject
Python-*
