[submodule "external/c-lightning"]
	path = external/c-lightning
	url = https://github.com/Perlover/lightning.git
	branch = master
[submodule "external/libzmq"]
	path = external/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "external/bitcoin-core"]
	path = external/bitcoin-core
	url = https://github.com/bitcoin/bitcoin.git
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "external/libevent"]
	path = external/libevent
	url = https://github.com/libevent/libevent.git
[submodule "external/pkg-config"]
	path = external/pkg-config
	url = git://anongit.freedesktop.org/pkg-config
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "external/inotify-tools"]
	path = external/inotify-tools
	url = https://github.com/rvoicilas/inotify-tools.git
